parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method LongitudeOne\\\\Spatial\\\\PHP\\\\Types\\\\LineStringInterface\\:\\:getPoints\\(\\)\\.$#"
			count: 2
			path: ../../lib/LongitudeOne/BinaryWriter/Strategy/EwkbBinaryStrategy.php

		-
			message: "#^Call to an undefined method LongitudeOne\\\\Spatial\\\\PHP\\\\Types\\\\MultiLineStringInterface\\:\\:getLineStrings\\(\\)\\.$#"
			count: 2
			path: ../../lib/LongitudeOne/BinaryWriter/Strategy/EwkbBinaryStrategy.php

		-
			message: "#^Call to an undefined method LongitudeOne\\\\Spatial\\\\PHP\\\\Types\\\\MultiPointInterface\\:\\:getPoints\\(\\)\\.$#"
			count: 2
			path: ../../lib/LongitudeOne/BinaryWriter/Strategy/EwkbBinaryStrategy.php

		-
			message: "#^Call to an undefined method LongitudeOne\\\\Spatial\\\\PHP\\\\Types\\\\MultiPolygonInterface\\:\\:getPolygons\\(\\)\\.$#"
			count: 2
			path: ../../lib/LongitudeOne/BinaryWriter/Strategy/EwkbBinaryStrategy.php

		-
			message: "#^Call to an undefined method LongitudeOne\\\\Spatial\\\\PHP\\\\Types\\\\PointInterface\\:\\:getX\\(\\)\\.$#"
			count: 1
			path: ../../lib/LongitudeOne/BinaryWriter/Strategy/EwkbBinaryStrategy.php

		-
			message: "#^Call to an undefined method LongitudeOne\\\\Spatial\\\\PHP\\\\Types\\\\PointInterface\\:\\:getY\\(\\)\\.$#"
			count: 1
			path: ../../lib/LongitudeOne/BinaryWriter/Strategy/EwkbBinaryStrategy.php

		-
			message: "#^Call to an undefined method LongitudeOne\\\\Spatial\\\\PHP\\\\Types\\\\PolygonInterface\\:\\:getRings\\(\\)\\.$#"
			count: 2
			path: ../../lib/LongitudeOne/BinaryWriter/Strategy/EwkbBinaryStrategy.php

		-
			message: "#^Call to an undefined method LongitudeOne\\\\Spatial\\\\PHP\\\\Types\\\\LineStringInterface\\:\\:getPoints\\(\\)\\.$#"
			count: 2
			path: ../../lib/LongitudeOne/BinaryWriter/Strategy/MySQLBinaryStrategy.php

		-
			message: "#^Call to an undefined method LongitudeOne\\\\Spatial\\\\PHP\\\\Types\\\\MultiLineStringInterface\\:\\:getLineStrings\\(\\)\\.$#"
			count: 1
			path: ../../lib/LongitudeOne/BinaryWriter/Strategy/MySQLBinaryStrategy.php

		-
			message: "#^Call to an undefined method LongitudeOne\\\\Spatial\\\\PHP\\\\Types\\\\MultiPointInterface\\:\\:getPoints\\(\\)\\.$#"
			count: 2
			path: ../../lib/LongitudeOne/BinaryWriter/Strategy/MySQLBinaryStrategy.php

		-
			message: "#^Call to an undefined method LongitudeOne\\\\Spatial\\\\PHP\\\\Types\\\\MultiPolygonInterface\\:\\:getPolygons\\(\\)\\.$#"
			count: 2
			path: ../../lib/LongitudeOne/BinaryWriter/Strategy/MySQLBinaryStrategy.php

		-
			message: "#^Call to an undefined method LongitudeOne\\\\Spatial\\\\PHP\\\\Types\\\\PointInterface\\:\\:getX\\(\\)\\.$#"
			count: 2
			path: ../../lib/LongitudeOne/BinaryWriter/Strategy/MySQLBinaryStrategy.php

		-
			message: "#^Call to an undefined method LongitudeOne\\\\Spatial\\\\PHP\\\\Types\\\\PointInterface\\:\\:getY\\(\\)\\.$#"
			count: 2
			path: ../../lib/LongitudeOne/BinaryWriter/Strategy/MySQLBinaryStrategy.php

		-
			message: "#^Call to an undefined method LongitudeOne\\\\Spatial\\\\PHP\\\\Types\\\\PolygonInterface\\:\\:getRings\\(\\)\\.$#"
			count: 2
			path: ../../lib/LongitudeOne/BinaryWriter/Strategy/MySQLBinaryStrategy.php

		-
			message: "#^Call to an undefined method LongitudeOne\\\\Spatial\\\\PHP\\\\Types\\\\LineStringInterface\\:\\:getPoints\\(\\)\\.$#"
			count: 2
			path: ../../lib/LongitudeOne/BinaryWriter/Strategy/WkbBinaryStrategy.php

		-
			message: "#^Call to an undefined method LongitudeOne\\\\Spatial\\\\PHP\\\\Types\\\\MultiLineStringInterface\\:\\:getLineStrings\\(\\)\\.$#"
			count: 2
			path: ../../lib/LongitudeOne/BinaryWriter/Strategy/WkbBinaryStrategy.php

		-
			message: "#^Call to an undefined method LongitudeOne\\\\Spatial\\\\PHP\\\\Types\\\\MultiPointInterface\\:\\:getPoints\\(\\)\\.$#"
			count: 2
			path: ../../lib/LongitudeOne/BinaryWriter/Strategy/WkbBinaryStrategy.php

		-
			message: "#^Call to an undefined method LongitudeOne\\\\Spatial\\\\PHP\\\\Types\\\\MultiPolygonInterface\\:\\:getPolygons\\(\\)\\.$#"
			count: 2
			path: ../../lib/LongitudeOne/BinaryWriter/Strategy/WkbBinaryStrategy.php

		-
			message: "#^Call to an undefined method LongitudeOne\\\\Spatial\\\\PHP\\\\Types\\\\PointInterface\\:\\:getX\\(\\)\\.$#"
			count: 1
			path: ../../lib/LongitudeOne/BinaryWriter/Strategy/WkbBinaryStrategy.php

		-
			message: "#^Call to an undefined method LongitudeOne\\\\Spatial\\\\PHP\\\\Types\\\\PointInterface\\:\\:getY\\(\\)\\.$#"
			count: 1
			path: ../../lib/LongitudeOne/BinaryWriter/Strategy/WkbBinaryStrategy.php

		-
			message: "#^Call to an undefined method LongitudeOne\\\\Spatial\\\\PHP\\\\Types\\\\PolygonInterface\\:\\:getRings\\(\\)\\.$#"
			count: 2
			path: ../../lib/LongitudeOne/BinaryWriter/Strategy/WkbBinaryStrategy.php

		-
			message: "#^Generator expects value type array\\{LongitudeOne\\\\Spatial\\\\PHP\\\\Types\\\\LineStringInterface, string\\}, array\\{LongitudeOne\\\\Spatial\\\\PHP\\\\Types\\\\AbstractGeometry, '01020000207B1B00000…'\\} given\\.$#"
			count: 1
			path: ../../tests/LongitudeOne/BinaryWriter/Unit/Strategy/EwkbStrategyTest.php

		-
			message: "#^Generator expects value type array\\{LongitudeOne\\\\Spatial\\\\PHP\\\\Types\\\\LineStringInterface, string\\}, array\\{LongitudeOne\\\\Spatial\\\\PHP\\\\Types\\\\AbstractGeometry, '0102000020E61000000…'\\} given\\.$#"
			count: 1
			path: ../../tests/LongitudeOne/BinaryWriter/Unit/Strategy/EwkbStrategyTest.php

		-
			message: "#^Generator expects value type array\\{LongitudeOne\\\\Spatial\\\\PHP\\\\Types\\\\PointInterface, string\\}, array\\{LongitudeOne\\\\Spatial\\\\PHP\\\\Types\\\\AbstractGeometry, '01010000207B1B00000…'\\} given\\.$#"
			count: 1
			path: ../../tests/LongitudeOne/BinaryWriter/Unit/Strategy/EwkbStrategyTest.php

		-
			message: "#^Generator expects value type array\\{LongitudeOne\\\\Spatial\\\\PHP\\\\Types\\\\PointInterface, string\\}, array\\{LongitudeOne\\\\Spatial\\\\PHP\\\\Types\\\\AbstractGeometry, '0101000020E61000000…'\\} given\\.$#"
			count: 2
			path: ../../tests/LongitudeOne/BinaryWriter/Unit/Strategy/EwkbStrategyTest.php

		-
			message: "#^Generator expects value type array\\{LongitudeOne\\\\Spatial\\\\PHP\\\\Types\\\\LineStringInterface, string\\}, array\\{LongitudeOne\\\\Spatial\\\\PHP\\\\Types\\\\AbstractGeometry, '7B1B000001020000000…'\\} given\\.$#"
			count: 1
			path: ../../tests/LongitudeOne/BinaryWriter/Unit/Strategy/MySQLStrategyTest.php

		-
			message: "#^Generator expects value type array\\{LongitudeOne\\\\Spatial\\\\PHP\\\\Types\\\\LineStringInterface, string\\}, array\\{LongitudeOne\\\\Spatial\\\\PHP\\\\Types\\\\AbstractGeometry, 'E610000001020000000…'\\} given\\.$#"
			count: 1
			path: ../../tests/LongitudeOne/BinaryWriter/Unit/Strategy/MySQLStrategyTest.php

		-
			message: "#^Generator expects value type array\\{LongitudeOne\\\\Spatial\\\\PHP\\\\Types\\\\PointInterface, string\\}, array\\{LongitudeOne\\\\Spatial\\\\PHP\\\\Types\\\\AbstractGeometry, '0000000001010000000…'\\} given\\.$#"
			count: 1
			path: ../../tests/LongitudeOne/BinaryWriter/Unit/Strategy/MySQLStrategyTest.php

		-
			message: "#^Generator expects value type array\\{LongitudeOne\\\\Spatial\\\\PHP\\\\Types\\\\PointInterface, string\\}, array\\{LongitudeOne\\\\Spatial\\\\PHP\\\\Types\\\\AbstractGeometry, '7B1B00000101000000C…'\\} given\\.$#"
			count: 1
			path: ../../tests/LongitudeOne/BinaryWriter/Unit/Strategy/MySQLStrategyTest.php

		-
			message: "#^Generator expects value type array\\{LongitudeOne\\\\Spatial\\\\PHP\\\\Types\\\\PointInterface, string\\}, array\\{LongitudeOne\\\\Spatial\\\\PHP\\\\Types\\\\AbstractGeometry, 'E610000001010000000…'\\} given\\.$#"
			count: 1
			path: ../../tests/LongitudeOne/BinaryWriter/Unit/Strategy/MySQLStrategyTest.php

		-
			message: "#^Generator expects value type array\\{LongitudeOne\\\\Spatial\\\\PHP\\\\Types\\\\PointInterface, string\\}, array\\{LongitudeOne\\\\Spatial\\\\PHP\\\\Types\\\\AbstractGeometry, 'E61000000101000000F…'\\} given\\.$#"
			count: 1
			path: ../../tests/LongitudeOne/BinaryWriter/Unit/Strategy/MySQLStrategyTest.php

		-
			message: "#^Generator expects value type array\\{LongitudeOne\\\\Spatial\\\\PHP\\\\Types\\\\PolygonInterface, string\\}, array\\{LongitudeOne\\\\Spatial\\\\PHP\\\\Types\\\\AbstractGeometry, '7B1B000001030000000…'\\} given\\.$#"
			count: 1
			path: ../../tests/LongitudeOne/BinaryWriter/Unit/Strategy/MySQLStrategyTest.php

		-
			message: "#^Generator expects value type array\\{LongitudeOne\\\\Spatial\\\\PHP\\\\Types\\\\PolygonInterface, string\\}, array\\{LongitudeOne\\\\Spatial\\\\PHP\\\\Types\\\\AbstractGeometry, 'E610000001030000000…'\\} given\\.$#"
			count: 1
			path: ../../tests/LongitudeOne/BinaryWriter/Unit/Strategy/MySQLStrategyTest.php

		-
			message: "#^Generator expects value type array\\{LongitudeOne\\\\Spatial\\\\PHP\\\\Types\\\\LineStringInterface, string\\}, array\\{LongitudeOne\\\\Spatial\\\\PHP\\\\Types\\\\AbstractGeometry, '0102000000020000000…'\\} given\\.$#"
			count: 2
			path: ../../tests/LongitudeOne/BinaryWriter/Unit/Strategy/WkbStrategyTest.php

		-
			message: "#^Generator expects value type array\\{LongitudeOne\\\\Spatial\\\\PHP\\\\Types\\\\PointInterface, string\\}, array\\{LongitudeOne\\\\Spatial\\\\PHP\\\\Types\\\\AbstractGeometry, '0101000000000000000…'\\} given\\.$#"
			count: 3
			path: ../../tests/LongitudeOne/BinaryWriter/Unit/Strategy/WkbStrategyTest.php
